/* Home section style */
.main-container{
    display: flex;
    flex-direction: column;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

/* Set a fixed height for the header/navigation */
header-component {
    height: 80px; /* Adjust the height as needed */
}
@keyframes changeBackground{
    0%, 16.66% {
        background-image: url('photo_2024-05-28_14-48-56.jpg');
    }
    16.67%, 33.32% {
        background-image: url('photo_2024-05-28_14-49-14.jpg');
    }
    33.33%, 49.98%{
        background-image: url('photo_2024-05-28_15-28-15.jpg');
    }
    49.9%, 66.64%{
        background-image: url('photo_2024-05-28_15-28-52.jpg');
    }

    66.64%, 83.30%{
        background-image: url('photo_2024-05-28_15-28-25.jpg');
    }
    83.31%, 100%{
        background-image: url('photo_2024-05-28_15-29-01.jpg');
    }

}

.landing {
    background-color: black;
    height: 500px;
    margin-top: 90px;
    margin-bottom: 20px;
    animation: changeBackground 60s infinite;
    background-size: cover;
     margin-left: 0px;
     margin-right: 0px;
     color: rgb(8, 8, 8);
     font-size: xx-large;
     display: flex;
     justify-content: center;
}
.club-bagde {
    right: 0px;
}
.club-bagde img {
    width: 200px;
}
.section h2 {
    font-size: 2rem;
    color: black; /* Adjusted color for better contrast */
    margin-bottom: 20px;
    text-align: center;
}

.news-container {
   display: flex;
   flex-direction: column;
   height: 200px;
}
.news-image{
    height: 300px;
    width: 300px;
}
.news-article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.news-article:hover{
    transform: translateY(-10px);
}

.news-article h3 {
    font-size: 1.5rem; /* Slightly increased font size for article titles */
    color: black;
    margin-bottom: 10px;
}

.news-article p {
    color: black;
    line-height: 1.6; /* Improved line height for better readability */
    flex-grow: 1;
}

.news-article a {
    align-self: flex-start;
    color: #FF4B2B;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.news-article a:hover {
    color: black;
}

/* Media Queries for Responsiveness */
@media (max-width: 480px) {
    .section h2 {
        font-size: 1.5rem;
    }
}