body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.main-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order-box{
    background-color: #bbadad;
    width: 300px;
    margin-top: 100px;
}
.order-item{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: black;
    margin: 5px;
}
.order-info{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-box {
    max-width: 800px;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    
}

h1 {
    text-align: center;
    color: #333;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-item h2 {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.product-item p {
    color: #666;
    margin: 5px 0;
}

.product-item .price {
    font-size: 1.5em;
    color: #e74c3c;
    margin: 10px 0;
}

.product-item .stock {
    font-size: 0.9em;
    color: #27ae60;
}
